<a href="https://colab.research.google.com/github/vvnssrnath2002/Spoon-Knife/blob/main/python_for_ml_class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello,world")

Hello,world

In [ ]:
print("Hey",10,2.2,"Hello")

Hey 10 2.2 Hello

In [ ]:
s=input("Hello Python")

Hello PythonHai

In [ ]:
name=input("What is your name? ")
print("Hello",name.capitalize())
age=input("How old are you? ")
print("You are",age,"years old")

What is your name? Raghunath
Hello Raghunath
How old are you? 21
You are 21 years old

In [ ]:
s="saurabh"
t=s.capitalize()
print(t)

Saurabh

In [ ]:
s="This is a string"
a=2
b=2.4

type(s)

int

In [ ]:
kg=float(input("Enter the weight in kg:"))
lbs = kg * 2.2046
print(f"The {kg} kilograms to lbs is: {lbs}")

Enter the weight in kg:26.7
The 26.7 kilograms to lbs is: 58.86282

In [ ]:
r=float(input("Enter the radius:"))
pi=3.14
C=2 * pi * r
print(C)

Enter the radius:5
31.400000000000002

In [ ]:
num = 10
num = num * 3
num = num + 6
num = num // 3
number = num - 10
print(number)

2

In [ ]:
a=float(input("Enter first number"))
b=float(input("Enter second number"))
c=a*b
print(f"Product= {c}")

Enter first number3
Enter second number4
Product= 12.0

In [ ]:
years=int(input("Enter the age of user:"))
days = years * 365
hours = days * 24
minutes = hours * 3600
seconds = minutes * 60
print(f'Age in Days is = {days}')
print(f'Age in Hours is = {hours}')
print(f'Age in Minutes is = {minutes}')
print(f'Age in Seconds is = {seconds}')

Enter the age of user:22
Age in Days is = 8030
Age in Hours is = 192720
Age in Minutes is = 693792000
Age in Seconds is = 41627520000

In [ ]:
price = int(input("Enter the price:"))
percent = int(input("Enter the percentage:"))
tip = price * percent/100
tip = round(tip,2)
print(tip)

Enter the price:400
Enter the percentage:5
20.0

In [ ]:
hrs = float(input("Enter the number of hours:"))
rph = float(input("Enter the rate per hour of worker:"))
GrossPay = hrs * rph
print(GrossPay)

Enter the number of hours:3.5
Enter the rate per hour of worker:45.5
159.25

In [ ]:
hrs = float(input("Enter number of hours:"))
rate = float(input("Enter the rate:"))
pay = hrs * rate
if(hrs>40):
   pay = (40 * rate) + (hrs-40) * rate * 1.5
else:
  pay = pay

print(pay)

Enter number of hours:45
Enter the rate:10
475.0

In [ ]:
inp = float(input("Enter temperature in Celsius:"))
try:
  print("Farenheit")
except:
  print("Enter temperature in digits/numbers")

Enter temperature in Celsius:30
Farenheit

In [ ]:
#Car - Ensurance
#Goal - Car Ensurance Calculation based on the following data
#This is fictional car insurance company call

market_price = float(input("Enter market price:"))
gender = input("Enter the gender:")
def calculate_insurance_premium(market_price,gender):
  if gender.lower() == "male":
    age = int(input("Enter your age:"))
    if age <=26:
      premium = (23/100)*market_price
    else:
      premium = (9/100) * market_price

  elif gender.lower() == "female":
    is_sports_car = input("Is your car a sports car?(yes/no):")
    if is_sports_car.lower() == "yes":
      premium = (21/100)*market_price
    else:
      premium = (10/100)*market_price
  else:
    print("Invalid gender input.")

  return premium

premium = calculate_insurance_premium(market_price, gender)
print("The insurance premium is:", premium)

Enter market price:20000
Enter the gender:male
Enter your age:30
The insurance premium is: 1800.0

In [ ]:
smallest_so_far = 100
print('Before',smallest_so_far)
for the_num in [9,41,12,3,74,15]:
  if the_num < smallest_so_far:
    smallest_so_far = the_num
  print('smallest_so_far',the_num)

print('After',smallest_so_far)

Before 100
smallest_so_far 9
smallest_so_far 41
smallest_so_far 12
smallest_so_far 3
smallest_so_far 74
smallest_so_far 15
After 3

In [ ]:
zork = 0
print('Before',zork)
for thing in [9,41,12,3,74,15]:
  zork = zork+1
  print(zork, thing)
print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [ ]:
num_list = []
n=int(input("Enter the number of elements in the list:"))
for i in range(n):
  num = int(input("Enter number:"))
  num_list.append(num)
sum_of_elements = sum(num_list)
print("Sum of all elements:",sum_of_elements)

Enter the number of elements in the list:5
Enter number:6
Enter number:6
Enter number:3
Enter number:4
Enter number:8
Sum of all elements: 27

In [ ]:
#largest so far
largest_so_far = -1
print("Before",largest_so_far)
print("Current\tLargest so far")
for the_num in [9,41,12,3,74,15]:
  if the_num > largest_so_far:
    largest_so_far = the_num
  print(largest_so_far,"\t",the_num)
print("After",largest_so_far)

Before -1
Current	Largest so far
9 	 9
41 	 41
41 	 12
41 	 3
74 	 74
74 	 15
After 74

In [ ]:
def computepay(hrs,rate):
  pay = hrs * rate
  if(hrs>40):
      pay = (40 * rate) + (hrs-40) * rate * 1.5
  else:
      pay = pay
  print(pay)
computepay(40,10)

400

In [ ]:
list1 = [1,2,"Hello","Hi"]
print(list1)

[1, 2, 'Hello', 'Hi']

In [ ]:
l1 = [1,4,5,7,4,15]
print(l1)

[1, 4, 5, 7, 4, 15]

In [ ]:
l1[2:4]

[5, 7]

In [ ]:
l1[:4]

[1, 4, 5, 7]

In [ ]:
l1[:-1]

[1, 4, 5, 7, 4]

In [ ]:
print(l1 + list1)

[1, 4, 5, 7, 4, 15, 1, 2, 'Hello', 'Hi']

In [ ]:
print(list1 * 3)

[1, 2, 'Hello', 'Hi', 1, 2, 'Hello', 'Hi', 1, 2, 'Hello', 'Hi']

In [ ]:
l2=[23,24,25,["A","LPU",5],3,2,1]
l2[3][1][1]

'P'

In [ ]:
#lists are mutable
list3 = ['a','b','c','d']
list3[-1] = 'xyz'
list3

['a', 'b', 'c', 'xyz']

In [ ]:
list3.append("LPU")
list3

['a', 'b', 'c', 'xyz', 'LPU']

In [ ]:
list3.append(5)
list3

['a', 'b', 'c', 'xyz', 'LPU', 5, 5, 5, 5, 5]

In [ ]:
l1.extend(list3)
l1

[1, 4, 5, 7, 4, 15, 'a', 'b', 'c', 'xyz', 'LPU', 5, 5, 5, 5, 5]

In [ ]:
list3

['a', 'b', 'c', 'xyz', 'LPU', 5, 5, 5, 5, 5]

In [ ]:
t1 = (1,2,3,4)
print(t1)
print(type(t1))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
t2 = (5)
print(type(t2))

<class 'int'>

In [ ]:
t2 = (5,)
print(type(t2))

<class 'tuple'>

In [ ]:
empty_list = []
print(type(empty_list))

<class 'list'>

In [ ]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [ ]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [ ]:
import random
random.randint(1,7)

6

In [ ]:
# Python program for jumbled words game.

# import random module
import random


# function for choosing random word.
def choose():
	# list of word
	words = ['rainbow', 'computer', 'science', 'programming',
			'mathematics', 'player', 'condition', 'reverse',
			'water', 'board', 'geeks']

	# choice() method randomly choose
	# any word from the list.
	pick = random.choice(words)

	return pick


# Function for shuffling the
# characters of the chosen word.
def jumble(word):
	# sample() method shuffling the characters of the word
	random_word = random.sample(word, len(word))

	# join() method join the elements
	# of the iterator(e.g. list) with particular character .
	jumbled = ''.join(random_word)
	return jumbled


# Function for showing final score.
def thank(p1n, p2n, p1, p2):
	print(p1n, 'Your score is :', p1)
	print(p2n, 'Your score is :', p2)

	# check_win() function calling
	check_win(p1n, p2n, p1, p2)

	print('Thanks for playing...')


# Function for declaring winner
def check_win(player1, player2, p1score, p2score):
	if p1score > p2score:
		print("winner is :", player1)
	elif p2score > p1score:
		print("winner is :", player2)
	else:
		print("Draw..Well Played guys..")


# Function for playing the game.
def play():
	# enter player1 and player2 name
	p1name = input("player 1, Please enter your name :")
	p2name = input("Player 2 , Please enter your name: ")

	# variable for counting score.
	pp1 = 0
	pp2 = 0

	# variable for counting turn
	turn = 0

	# keep looping
	while True:

		# choose() function calling
		picked_word = choose()

		# jumble() function calling
		qn = jumble(picked_word)
		print("jumbled word is :", qn)

		# checking turn is odd or even
		if turn % 2 == 0:

			# if turn no. is even
			# player1 turn
			print(p1name, 'Your Turn.')

			ans = input("what is in your mind? ")

			# checking ans is equal to picked_word or not
			if ans == picked_word:

				# incremented by 1
				pp1 += 1

				print('Your score is :', pp1)
				turn += 1

			else:
				print("Better luck next time ..")

				# player 2 turn
				print(p2name, 'Your turn.')

				ans = input('what is in your mind? ')

				if ans == picked_word:
					pp2 += 1
					print("Your Score is :", pp2)

				else:
					print("Better luck next time...correct word is :", picked_word)

				c = int(input("press 1 to continue and 0 to quit :"))

				# checking the c is equal to 0 or not
				# if c is equal to 0 then break out
				# of the while loop o/w keep looping.
				if c == 0:
					# thank() function calling
					thank(p1name, p2name, pp1, pp2)
					break

		else:

			# if turn no. is odd
			# player2 turn
			print(p2name, 'Your turn.')
			ans = input('what is in your mind? ')

			if ans == picked_word:
				pp2 += 1
				print("Your Score is :", pp2)
				turn += 1

			else:
				print("Better luck next time.. :")
				print(p1name, 'Your turn.')
				ans = input('what is in your mind? ')

				if ans == picked_word:
					pp1 += 1
					print("Your Score is :", pp1)

				else:
					print("Better luck next time...correct word is :", picked_word)

					c = int(input("press 1 to continue and 0 to quit :"))

					if c == 0:
						# thank() function calling
						thank(p1name, p2name, pp1, pp2)
						break

			c = int(input("press 1 to continue and 0 to quit :"))
			if c == 0:
				# thank() function calling
				thank(p1name, p2name, pp1, pp2)
				break


# Driver code
if __name__ == '__main__':

	# play() function calling
	play()

player 1, Please enter your name :A
Player 2 , Please enter your name: B
jumbled word is : ewatr
A Your Turn.
what is in your mind? water
Your score is : 1
jumbled word is : coonitndi
B Your turn.
what is in your mind? condition
Your Score is : 1
press 1 to continue and 0 to quit :0
A Your score is : 1
B Your score is : 1
Draw..Well Played guys..
Thanks for playing...

In [ ]:
import random
words = ['father','enterprise','science','programming','resistance','fiction','condition','reverse','water','board','geeks']
word = random.choice(words)
print(word)
jumbled = random.sample(word,len(word))
print(f"The jumbled word is {jumbled}")
guess = input("Type the guessed word:")
if guess==word:
  print("Correct guess")
else:
  print("Incorrect guess")

condition
The jumbled word is ['o', 't', 'i', 'd', 'o', 'n', 'c', 'n', 'i']
Type the guessed word:condition
Correct guess

In [ ]:
def fib(n):
  if n<=1:
    return n
  else:
    return fib(n-1) + fib(n-2)

n = int(input("Enter the number of terms:"))
for i in range(n):
  print(fib(i))

Enter the number of terms:5
0
1
1
2
3

In [ ]:
# Recursive Python function to solve the tower of hanoi

def TowerOfHanoi(n , source, destination, auxiliary):
	if n==1:
		print ("Move disk 1 from source",source,"to destination",destination)
		return
	TowerOfHanoi(n-1, source, auxiliary, destination)
	print ("Move disk",n,"from source",source,"to destination",destination)
	TowerOfHanoi(n-1, auxiliary, destination, source)

# Driver code
n = int(input("Enter the number of disks:"))
TowerOfHanoi(n,'A','B','C')
# A, C, B are the name of rods

Enter the number of disks:4
Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B
Move disk 3 from source A to destination C
Move disk 1 from source B to destination A
Move disk 2 from source B to destination C
Move disk 1 from source A to destination C
Move disk 4 from source A to destination B
Move disk 1 from source C to destination B
Move disk 2 from source C to destination A
Move disk 1 from source B to destination A
Move disk 3 from source C to destination B
Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B